body {
    background-color: darkgrey;
}

.menu {
    max-width: 700px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background: white;
    background-image: linear-gradient(to bottom, #BAFF39 18%, black 18.2%, white 18.4%);
    border-radius: 15px;
    padding: 1.5rem;
}

.title {
    margin: 0;
    padding-bottom: 1rem;
}

.inputHeader {
    margin: 0;
    font-size: 1.25rem;

}

.formTypeSection {
    margin-left: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
}

.formTypeButton {
    margin-right: .25rem;
    background-color: #4c7b25;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}

.inputForm {
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.inputSection {
    margin-bottom: 1rem;
}
